<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/1.css" />
    <title>Status</title>
  </head>
  <body>
    <header>
      <div class="nav">
        <div class="logo">
          <a href="index.html">
            <img src="./images/mainlogo.png" alt="Logo"
          /></a>
        </div>
        <div class="right">
          <button>Sign In</button>
          <button>Sign Up</button>
          <button>Guest</button>
        </div>
      </div>
    </header>
    <main class="lawyer-page">
        <div class="main-cont">
          <div class="lawyer-left-cont">
            <div class="create-profile" style="height: 10%">
              <a href="create.html"
                ><button
                  style="
                    width: 40%;
                    background-color: white;
                    height: 100%;
                    border-radius: 10px;
                  "
                >
                  Create Profile
                </button></a
              >
            </div>
            <div class="client" style="height: 10%">
              <a href="client.html">
                <button
                  onclick=""
                  style="
                    width: 40%;
                    background-color: white;
                    height: 100%;
                    border: 2px solid black;
                    border-radius: 10px;
                    /* padding: 10px;
                    box-shadow: 5px 10px #888888; */
                  "
                >
                  Client
                </button>
              </a>
            </div>
            <div class="status" style="height: 10%">
              <a href="Status.html"
                ><button
                  style="
                    width: 40%;
                    background-color: white;
                    height: 100%;
                    border-radius: 10px;
                    border: 1px solid;
                    padding: 10px;
                    box-shadow: 3px 6px #888888;
                 
                  "
                >
                  Status
                </button></a
              >
            </div>
            <div class="update" style="height: 10%">
              <a href="Updates.html"
                ><button
                  style="
                    width: 40%;
                    background-color: white;
                    height: 100%;
                    border-radius: 10px;
                  "
                >
                  Updates
                </button></a
              >
            </div>
          </div>
          <div class="lawyer-right-cont">
            <div class="client-cont">
                <h1 class="right-title">Status</h1><br><br>
                <h3 class="right-title">Name of client</h3>
                <section class="step-wizard">
                    <ul class="step-wizard-list">
                        <li class="step-wizard-item">
                            <span class="progress-count">1</span>
                            <span class="progress-label">start</span>
                        </li>
                        <li class="step-wizard-item current-item">
                            <span class="progress-count">2</span>
                            <span class="progress-label">Process</span>
                        </li>
                        <li class="step-wizard-item">
                            <span class="progress-count">3</span>
                            <span class="progress-label">Evaluation</span>
                        </li>
                        <li class="step-wizard-item">
                            <span class="progress-count">4</span>
                            <span class="progress-label">Finish</span>
                        </li>
                    </ul>
                </section>
              </div>
          </div>
     </main>
  </body>
</html>
