* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  height: 100%;
  font-family: Poppins SemiBold;
  background-color: aliceblue;
  /* background-image: url(images/bg-img); */
}
.blur {
  filter: blur(6px);
}
.nav {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
}

.nav img {
  height: 6vh;
  margin: 20px;
  margin-top: 5vh;
  cursor: pointer;
}
.nav button {
  font-size: 1.2vw;
  border-radius: 50px;
  /* background-color: black; */
  padding: 10px;
}
.nav button:hover {
  cursor: pointer;
}

.main-cont {
  height: 80vh;
  width: 100vw;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
}
.left-cont {
  width: 50%;
  height: 80%;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.lawyer-left-cont {
  width: 30%;
  height: 80%;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  gap: 40px;
  margin-left: -90px;
  border-right: 1px solid black;
  gap: 20px;
}
.left-title {
  padding: 20px;
  font-size: 35px;
}
.right-cont {
  width: 50%;
  height: 90%;
  /* background-color: green; */
}
.get-started {
  height: 10vh;
}

.strt-btn {
  border-radius: 5px;
  width: 70px;
  height: 6vh;
  margin-top: 20px;
}
.strt-btn:hover {
  cursor: pointer;
}

.signIn {
  width: 40vw;
  height: 70%;
  background-color: rgb(179, 179, 179);
  margin: auto;
  position: absolute;
  top: -500px;
  left: 25%;

  border-radius: 30px;
  box-shadow: 0px 0px 15px 3px gray;
  transition: 0.5s;
}
.cancel-btn {
  background-color: red;
}
.ShowSignIn {
  position: absolute;
  top: 100px;
}

.signIn button {
  height: 30px;
  width: 80px;
  border-radius: 6px;
  position: relative;
  top: 50%;
  /* left: 30%; */
  margin: 10px;
}
.signIn button:hover {
  cursor: pointer;
}
.input-item {
  width: 40%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

form .inputs {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
form input {
  border-radius: 9px;
  height: 30px;
}

form .register {
  margin-left: 40%;
  margin-top: 20px;
}
form .LogIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .left-cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */
.lawyer button {
  width: 200px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 40px;
  border: 1px solid;
  border-radius: 15px;
}

.lawyer img {
  width: 80px;
  height: 80px;
}
.lawyer button:hover {
  cursor: pointer;
}

.user button {
  width: 200px;

  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 40px;
  border: 1px solid;
  border-radius: 15px;
}
.user button:hover {
  cursor: pointer;
}
.user img {
  width: 80px;
  height: 80px;
}
.right-cont ol li {
  margin-top: 30px;
}

.select-doc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 15%;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}
.explaination {
  /* width: 80%;
  height: 50%; */
  background-color: blanchedalmond;
  border: 1px solid black;
  margin-left: -50px;
  border-radius: 10px;
}

.select-state {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 15%;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.create-doc {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 15%;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.create-doc button {
  height: 30px;
  width: 80px;
  border-radius: 6px;
  background-color: gray;
  color: white;
  /* left: 30%; */
  margin: 10px;
}
.create-profile button:hover {
  border: 1px solid;
  padding: 10px;
  box-shadow: 3px 3px #888888;
}
.create-profile button:hover {
  border: 1px solid;
  padding: 10px;
  box-shadow: 3px 3px #888888;
}
.client button:hover {
  border: 1px solid;
  padding: 10px;
  box-shadow: 3px 3px #888888;
}
.status button:hover {
  border: 1px solid;
  padding: 10px;
  box-shadow: 3px 3px #888888;
}
.update button:hover {
  border: 1px solid;
  padding: 10px;
  box-shadow: 3px 3px #888888;
}
.doc-exp {
  height: 50%;
  width: 80%;
  background-color: bisque;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 40px;
  padding: 15px;
  line-height: 2;
}
.generate-doc button {
  margin-top: 20px;
}

.explain-doc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 10%;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.preview {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 10%;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.generated-pdf {
  height: 50%;
  width: 70%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin-left: 30px;
}

.customize-cont {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.customize-cont button {
  width: 200px;
  height: 30px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 40px;
  border: 1px solid;
  border-radius: 15px;
}
.customize-cont button:hover {
  cursor: pointer;
}

.main-container {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards {
  height: 30px;
  width: 180px;
}

.main-container form {
  padding: 20px;
  width: 700px;
  background-color: azure;
  box-shadow: 0px 5px 10px gray;
  border-radius: 15px;
}
.main-container form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.main-container form .row .col {
  flex: 1 1 250px;
}

.main-container form .row .col .title {
  font-size: 20px;
  color: #333;
  padding: 20px;
  text-transform: uppercase;
}
.main-container form .row .col .inputBox {
  margin: 15px 0px;
}
.main-container form .row .col span {
  margin-bottom: 10px;
  display: block;
}
.main-container form .row .col .inputBox input {
  width: 100%;
  border-radius: 6px;
}

.main-container form .row .col .inputBox input:focus {
  border: 2px solid black;
}
.main-container form .row .col .flex {
  display: flex;
  gap: 15px;
}
.main-container form .row .col .inputBox img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #474747);
}

.main-container form .submit-btn {
  width: 100%;
  pad: 12px;
  font-size: 17px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.main-container form .submit-btn:hover {
  background-color: azure;
}
.lawyer-right-cont {
  width: 70%;
}
.lawyer-right-cont .create-cont {
  height: 100%;
  width: 95%;
  background-color: white;
  margin-left: 40px;
  border-radius: 15px;
  border: 1px solid black;
}
.lawyer-right-cont .right-title {
  text-align: center;
}
.lawyer-right-cont .client-cont {
  height: 100%;
  width: 95%;

  position: relative;
  /* top: -100%; */
  background-color: white;
  margin-left: 40px;
  border-radius: 15px;
  border: 1px solid black;
}
.lawyer-right-cont .client-cont .client-content {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
}
.lawyer-right-cont .client-cont .client-content #clients {
  height: 25%;
  width: 100%;
  /* background-color: blue; */
  border: 1px solid lightblue;
  display: flex;
  flex-direction: row;
}
.lawyer-right-cont .client-cont .client-content #clients .icon {
  width: 25%;
}
.lawyer-right-cont .client-cont .client-content #clients .details {
  padding: 20px 20px 0px 20px;
  font-size: large;
}
.lawyer-right-cont .status-cont {
  height: 100%;
  width: 95%;
  display: block;
  position: relative;
  /* top: -100%; */
  background-color: white;
  margin-left: 40px;
  border-radius: 15px;
  border: 1px solid black;
}
.lawyer-right-cont .update-cont {
  height: 100%;
  width: 95%;
  display: block;
  position: relative;
  /* top: -100%; */
  background-color: white;
  margin-left: 40px;
  border-radius: 15px;
  border: 1px solid black;
}
.lawyer-right-cont .active {
  display: block;
}
.lawyer-right-cont .deactive {
  display: none;
}

.step-wizard {
  /* background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%); */
  background-color: white;
  height: 55vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-wizard-list {
  background: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  color: #333;
  list-style-type: none;
  border-radius: 10px;
  display: flex;
  padding: 20px 10px;
  position: relative;
  z-index: 10;
}

.step-wizard-item {
  padding: 0 20px;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 100px;
  position: relative;
}
.step-wizard-item + .step-wizard-item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 19px;
  background: #21d4fd;
  width: 100%;
  height: 2px;
  transform: translateX(-50%);
  z-index: -10;
}
.progress-count {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  color: transparent;
}
.progress-count:after {
  content: "";
  height: 40px;
  width: 40px;
  background: #21d4fd;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -10;
}
.progress-count:before {
  content: "";
  height: 10px;
  width: 20px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%) rotate(-45deg);
  transform-origin: center center;
}
.progress-label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
.current-item .progress-count:before,
.current-item ~ .step-wizard-item .progress-count:before {
  display: none;
}
.current-item ~ .step-wizard-item .progress-count:after {
  height: 10px;
  width: 10px;
}
.current-item ~ .step-wizard-item .progress-label {
  opacity: 0.5;
}
.current-item .progress-count:after {
  background: #fff;
  border: 2px solid #21d4fd;
}
.current-item .progress-count {
  color: #21d4fd;
}
.ui-w-80 {
  width: 80px !important;
  height: auto;
}

.btn-default {
  border-color: rgba(24, 28, 33, 0.1);
  background: rgba(0, 0, 0, 0);
  color: #4e5155;
}

label.btn {
  margin-bottom: 0;
}

.btn-outline-primary {
  border-color: #26b4ff;
  background: transparent;
  color: #26b4ff;
}

.btn {
  cursor: pointer;
}

.text-light {
  color: #babbbc !important;
}

.btn-facebook {
  border-color: rgba(0, 0, 0, 0);
  background: #3b5998;
  color: #fff;
}

.btn-instagram {
  border-color: rgba(0, 0, 0, 0);
  background: #000;
  color: #fff;
}

.card {
  background-clip: padding-box;
  box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
  overflow: hidden;
}

.account-settings-fileinput {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.account-settings-links .list-group-item.active {
  font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
  background: transparent !important;
}

.account-settings-multiselect ~ .select2-container {
  width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
  color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.light-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

body {
  background: #414852;
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 6% auto 0;
}
.single-card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 15px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  background: #414852;
  border-radius: 15px;
  transition: all 0.8s ease-in-out;
}
.single-card:hover {
  transform: translateY(-10px);
}
.img-area {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.img-area:hover img {
  transform: scale(1.1);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 174, 255, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.single-card:hover .overlay {
  opacity: 1;
}
.add-to-cart,
.view-details {
  background-color: #fff;
  color: #333;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 10px;
}
.add-to-cart:hover,
.view-details:hover {
  background-color: orangered;
  color: #fff;
  border: none;
}
.info {
  padding: 10px;
  text-align: center;
  color: #ddd;
}
.info h3 {
  margin: 15px 0 10px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
}
.info .price {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: aqua;
}
